{% extends 'student_template/base_template.html' %}
{% block page_title %}

Welcome {{ user.first_name }}

{% endblock page_title %}
{% block main_content %}
     <!-- Main content -->
    <head>
   {% load static %}
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{% static "style.css"  %}" media="all" >
		<link href='http://fonts.googleapis.com/css?family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap' rel='stylesheet' type='text/css'>
		<title>Cork board</title>

	</head>

	<body id="bg" style="background-image: url('{% static cork_board.gif %}');">

	 	<div id='frame'>
			<a class="note sticky1">
				<div class='pin'></div>
				<div class='text'>15th September-Project Presentation.</div>
			</a>
			<a class="note sticky2">
				<div class='pin'></div>
				<div class='text'>16th-18th September-Tentative 3rd Theory Internals</div>
			</a>
			<a class="note sticky1">
				<div class='pin'></div>
				<div class='text'>22nd-24th September-Tentative 2nd Lab Internals</div>
			</a>
			<a class="note sticky3">
				<div class='pin'></div>
				<div class='text'>27th September-Last Working day for MCA 2nd Sem</div>
			</a>
			<a class="note sticky4">
				<div class='pin'></div>
				<div class='text'>1st August 2021-3rd Sem starts<br></div>
			</a>
			<a class="note sticky3">
				<div class='pin'></div>
				<div class='text'>2nd Sem MCA Timetable</div>
			</a>
			<a class="note sticky1">
				<div class='pin'></div>
				<div class='text'>3rd Sem MCA Timetable </div>
			</a>
			<a class="note sticky3">
				<div class='pin'></div>
				<div class='text'>List of students absent during 1st internals</div>
			</a>
			<a class="note sticky0">
				<div class='pin'></div>
				<div class='text'>List of students absent during 2nd internals</div>
			</a>
            <a class="note sticky1">
				<div class='pin'></div>
				<div class='text'>No. of Placed Students:1</div>
			</a>
			<a class="note sticky3">
				<div class='pin'></div>
				<div class='text'>Staff Details</div>
			</a>
			<a class="note sticky0">
				<div class='pin'></div>
				<div class='text'>Student Details</div>
			</a>
		</div>
	</body>
    <!-- /.content -->
{% endblock main_content %}

